/* #191919 */
* {
  @import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
  background-color: #191919;
  /* color: rgb(231, 223, 223); */
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, "Helvetica Neue", HelveticaNeue, Verdana,
    sans-serif;
}
.mobileNav {
  display: none;
}
.route {
  background-color: rgba(0, 0, 0, 0.253);
  width: 100%;
  padding: 0 18vw;
  display: block;
  height: 3.5rem;
  align-items: center;
  justify-content: right;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid rgba(231, 223, 223, 0.205);
}
.navbar {
  z-index: 10;
  background: transparent;
  backdrop-filter: blur(8px);
  display: flex;
  width: 100%;
  position: fixed;
  flex-direction: column;
  align-items: center;
  div {
    /* border-top: 1px solid rgba(231, 223, 223, 0.205); */
    width: 100%;
    /* padding: 0 18vw; */
  }
  .contact {
    padding-right: 20rem;
    height: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: end;
    background-color: #191919;
    border-top: none;
    font-size: 11px;
    border-top: 1px solid rgba(231, 223, 223, 0.205);
    border-bottom: 1px solid rgba(231, 223, 223, 0.205);
    p {
      color: rgba(231, 223, 223, 0.596);
    }
  }
  .logo {
    height: 11rem;
    background: transparent;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(231, 223, 223, 0.205);
    img {
      height: 100%;
      background: transparent;
    }
  }
  .nav-btn {
    background: transparent;
  }
  /* .nav-btn {
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(231, 223, 223, 0.205);
    text-align: center;
    align-items: center;
    ul {
      background: transparent;
      display: flex;
      align-items: center;
      span {
        background: transparent;
        color: rgba(231, 223, 223, 0.205);
      }
      a {
        background: transparent;
      }

      a:hover {
        border-bottom: 2px solid cyan;
      }
      li {
        background: transparent;
        color: rgba(231, 223, 223, 0.582);
        height: 3rem;
        font-size: 13px;
        align-items: center;
        display: flex;
      }
      li:hover {
        color: rgb(231, 223, 223);
      }
      gap: 1rem;
    }
  } */
}
.homePage {
  color: rgb(231, 223, 223);
  /* z-index: 50; */
  margin-top: 15.5rem;
  .container {
    padding: 0 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      margin-top: 3rem;
      /* margin-bottom: 2rem; */
    }
    .write-up {
      text-align: center;
      .mid {
        display: none;
      }
      h1 {
        margin-top: 3rem;
        font-family: Metrophobic, Helvetica, Arial, sans-serif;
        font-size: 28px;
        line-height: 1.1em;
      }
      .first-p {
        padding: 0 16rem;
      }
      .linkup {
        text-align: left;
      }
      p {
        font-size: 13px;
        margin-top: 1rem;
        line-height: 1.1rem;
        margin-bottom: 1rem;
      }
    }
    .available {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      img {
        width: 705px;
        height: 313px;
        margin: 0;
      }
      .overlay:hover {
        opacity: 0.75;

        .icon-div {
          transform: rotate(10deg) scale(1.1);
          transition: all ease-in-out 0.3s;
        }
      }
      .overlay {
        color: #191919;
        position: absolute;
        opacity: 0;
        transition: all ease-in-out 0.3s;
        width: 705px;
        height: 313px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-div {
          padding: 1.7rem;
          background-color: yellow;
          border-radius: 50%;
          transform: rotate(-10deg);
          color: black;
          .icon {
            font-size: 1rem;
            color: #191919;
            background-color: yellow;
            color: #191919;
          }
        }
      }
    }
    .grids {
      margin-top: 2rem;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .homeCard {
    width: 355px;
    height: 368px;
    margin-bottom: 2rem;

    img {
      height: 100%;
      border-radius: 4px;
      width: 100%;
    }
    .title {
      color: yellow;
      font-size: 12px;
      text-align: center;
      margin-top: 1rem;
    }
  }
}
.homeGrid1 {
  display: flex;
  gap: 5rem;
  .left {
    margin: 0 5rem;
    text-align: center;
    h1 {
      margin-top: 3rem;
      font-family: Metrophobic, Helvetica, Arial, sans-serif;
      font-size: 28px;
      line-height: 1.1em;
    }
    p {
      font-size: 15px;
      margin-top: 1rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}
.homeGrid2 {
  display: flex;
  gap: 7rem;
  row-gap: 0;
  h1 {
    margin-top: 3rem;
    font-family: Metrophobic, Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.1em;
  }
  p {
    font-size: 13px;
    margin-top: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
}
.homeGrid3 {
  display: flex;
  gap: 7rem;
  row-gap: 0;
  align-items: center;
  h1 {
    margin-top: 3rem;
    font-family: Metrophobic, Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.1em;
  }
  p {
    font-size: 13px;
    margin-top: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  .right {
    img {
      border-radius: 3px;
    }
  }
}
.homeGrid4 {
  display: flex;
  gap: 7rem;
  h1 {
    margin-top: 3rem;
    font-family: Metrophobic, Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.1em;
  }
  p {
    font-size: 13px;
    margin-top: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  .right {
    img {
      border-radius: 3px;
    }
  }
}
.homeGrid5 {
  display: flex;
  gap: 7rem;
  h1 {
    margin-top: 3rem;
    font-family: Metrophobic, Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.1em;
  }
  p {
    font-size: 13px;
    margin-top: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  .right {
    img {
      border-radius: 3px;
    }
  }
}
.homeGrid6 {
  display: flex;
  gap: 7rem;
  h3 {
    margin-top: 3rem;
    font-family: Metrophobic, Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.1em;
  }
  p {
    font-size: 13px;
    margin-top: 1rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
  }
  .right {
    img {
      border-radius: 3px;
    }
  }
}
.homeGrid7 {
  display: flex;
  gap: 7rem;
  h2 {
    margin: 1rem 3rem;
  }
  h1 {
    font-family: Metrophobic, Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.1em;
    margin: 1rem 3rem;
  }
  p {
    font-size: 13px;
    margin-top: 1rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
    margin: 1rem 3rem;
  }
  .right {
    img {
      border-radius: 3px;
    }
  }
}

.homeGrid8 {
  display: flex;
  gap: 7rem;
  margin-top: 1rem;
  h2 {
    margin: 1rem 3rem;
  }
  h1 {
    font-family: Metrophobic, Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.1em;
    margin: 1rem 3rem;
  }
  ul {
    line-height: 1.5rem;
    margin: 1rem 3rem;
    font-size: 13px;
    list-style-type: disc;
  }
  p {
    font-size: 13px;
    margin-top: 1rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
    margin: 1rem 3rem;
  }
  .right {
    padding: 0;
    margin: 0;
    img {
      border-radius: 3px;
      margin: 0;
      padding: 0;
      height: 20rem;
    }
  }
}
.form {
  padding: 0 18vw;
  color: rgb(177, 175, 175);
  margin-top: 1rem;
  margin-bottom: 2rem;
  ul {
    margin-bottom: 3rem;
  }
  hr {
    width: 100%;
  }
  form {
    border: 0.7px solid rgba(231, 223, 223, 0.205);

    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    input {
      outline: none;
      color: rgba(231, 223, 223, 0.603);
      height: 2.5rem;
      padding-left: 1.5rem;
      border: 1px solid rgba(231, 223, 223, 0.205);
      margin-bottom: 1rem;
      border-radius: 3px;
    }
    button {
      height: 2.5rem;
      border: none;
      background-color: antiquewhite;
      border-radius: 3px;
    }
  }
  p {
    font-size: 13px;
    margin-top: 1rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
    margin: 1rem 3rem;
  }
  a {
    font-size: 13px;
    line-height: 2rem;
    margin: 1rem 3rem;
    color: antiquewhite;
  }
  h3 {
    margin-bottom: 1rem;
  }
}
.contactPage {
  color: rgb(231, 223, 223);
  margin-top: 15.5rem;
  .container {
    padding: 0 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      height: 500px;
      border-radius: 3px;
      margin-bottom: 2rem;
    }
    .write-up {
      text-align: center;
      p {
        font-size: 13px;
        line-height: 1.5rem;
        margin-top: 1rem;
      }
      h2 {
        margin-bottom: 1rem;
      }
      h3 {
        margin-top: 2rem;
      }
      .images {
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: center;
        margin-top: 10rem;
        img {
          height: 17rem;
        }
      }
    }
  }
}
.hr {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0 1rem;
  width: 99vw;
  border: 1px solid rgba(231, 223, 223, 0.205);
}
.studServices {
  margin-top: 15rem;
  color: rgb(231, 223, 223);
  .cover {
    img {
      width: 100%;
    }
  }
  .write-up {
    padding: 0 18vw;
    p {
      font-size: 13px;
      text-align: center;
      line-height: 1.5rem;
      margin-top: 1rem;
    }
    h1 {
      text-align: center;

      font-family: Metrophobic, Helvetica, Arial, sans-serif;
      font-size: 28px;
      line-height: 1.1em;
      margin: 1rem 3rem;
    }
    h2 {
      text-align: center;
      margin: 1rem;
    }
    .images {
      display: flex;
      gap: 5rem;
      align-items: center;
      justify-content: center;
      margin-top: 10rem;
    }
  }
  .studGrid1 {
    display: flex;
    gap: 3rem;
    margin-top: 5rem;
    .left {
      margin: 0 2rem;
      h1 {
        margin: 1.5rem 0;
      }
    }
    .right {
      img {
        aspect-ratio: auto 600 / 1000;
        width: 560px;
      }
    }
  }
  .studGrid2 {
    margin-bottom: 5rem;

    display: flex;
    gap: 3rem;
    margin-top: 5rem;
    .left {
      margin: 0 2rem;
      h1 {
        margin: 1.5rem 0;
      }
    }
    .right {
      img {
        aspect-ratio: auto 600 / 1000;
        width: 560px;
      }
    }
  }
}
.finance {
  margin-top: 15rem;
  color: rgb(231, 223, 223);
  .cover {
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
  }
  .finance-body {
    padding: 0 18vw;
    text-align: center;
    h1 {
      font-family: metrophobic, Helvetica, Arial, sans-serif;
      margin-bottom: 2rem;
    }
    h6 {
      color: yellow;
      text-align: left;
      margin-bottom: 1rem;
    }
    .pay {
      text-align: left;
      font-size: 15px;
      /* margin-bottom: 1rem; */
    }
    ul {
      text-align: left;
      line-height: 1.5rem;
      list-style: none;
      li {
        font-size: 14px;
      }
    }
    ul li:before {
      content: "✔";
      margin-right: 0.5rem;
    }
    .semi {
      display: flex;
      gap: 7rem;
      margin-bottom: 3rem;
      h1 {
        font-size: 15px;
        color: yellow;
      }
      p {
        line-height: 1.5rem;
        font-size: 14px;
      }
    }
    .qr {
      margin-bottom: 2rem;
    }
    p {
      font-size: 13px;
      text-align: left;
      margin-bottom: 2rem;
    }
  }
  .financeGrid {
    img {
      border-radius: 3px;
    }
    display: flex;
    padding: 0 18vw;
    gap: 5rem;
    .left {
      text-align: center;
      h1 {
        margin-top: 3rem;
        font-family: Metrophobic, Helvetica, Arial, sans-serif;
        font-size: 28px;
        line-height: 1.1rem;
      }
      h2,
      h4,
      h1 {
        margin-bottom: 2rem;
      }
      p {
        font-size: 13px;
        margin-top: 0.7rem;
        line-height: 1.5rem;
        margin-bottom: 0.7rem;
      }
      .p-left {
        text-align: left;
      }
      img {
        height: 780px;
        width: 800px;
        margin-bottom: 2rem;
      }
      .cover2 {
        height: 370px;
      }
    }
    .right {
      img {
        height: 19rem;
        width: 20rem;
        object-fit: cover;
        margin-bottom: 1rem;
      }
    }
  }
}
.gear {
  margin-top: 15rem;
  color: rgb(231, 223, 223);
  .cover {
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
  }
  .gearGrid {
    img {
      border-radius: 3px;
    }
    display: flex;
    padding: 0 18vw;
    gap: 5rem;
    .left {
      text-align: center;
      h1 {
        margin-top: 3rem;
        font-family: Metrophobic, Helvetica, Arial, sans-serif;
        font-size: 28px;
        line-height: 1.1rem;
      }
      h2,
      h4,
      h1 {
        margin-bottom: 2rem;
      }
      p {
        font-size: 13px;
        margin-top: 0.7rem;
        line-height: 1.5rem;
        margin-bottom: 0.7rem;
      }

      img {
        height: 780px;
        width: 800px;
        margin-bottom: 2rem;
      }
      .cover2 {
        height: 370px;
      }
    }
    .right {
      img {
        height: 19rem;
        width: 20rem;
        object-fit: cover;
        margin-bottom: 1rem;
      }
    }
  }
}
.program {
  color: rgb(231, 223, 223);
  margin-top: 15rem;
  .cover {
    img {
      width: 100%;
    }
  }
  h1,
  h3,
  h4 {
    font-family: Metrophobic, Helvetica, Arial, sans-serif;
    line-height: 1.1em;
    margin: 1rem;
  }
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 13px;
    line-height: 1.5rem;
    margin-top: 1rem;
  }
  .container {
    img {
      border-radius: 3px;
    }
    margin-top: 5rem;
    .programGrid {
      padding: 0 18vw;
      display: flex;
      gap: 5rem;

      ul {
        line-height: 1.5rem;
        margin: 1rem 3rem;
        font-size: 13px;
        li {
          list-style-type: disc;
        }
      }

      .right {
        img {
          height: 35rem;
          width: 36rem;
          margin-bottom: 2rem;
        }
      }
    }
    .contact {
      padding: 0 18vw;
    }
    .programPics {
      display: flex;
      padding: 0 18vw;
      gap: 3rem;
      object-fit: cover;
      margin-bottom: 5rem;
      flex-wrap: wrap;
      img {
        height: 22rem;
        width: 22rem;
      }
    }
  }
}
.contact {
  h3,
  h6 {
    text-align: center;
  }
  hr {
    margin: 2rem 0;
  }
  form {
    line-height: 2rem;
    margin-bottom: 2rem;
    span {
      color: rgb(243, 58, 58);
    }
    .details {
      input {
        border: 0.7px solid rgba(231, 223, 223, 0.205);
        outline: none;
        padding-left: 0.7rem;
        width: 100%;
        height: 2rem;
        color: rgb(177, 175, 175);
        border-radius: 3px;
      }
      label {
        display: block;
      }
      .name {
        display: flex;
        gap: 2rem;
        section {
          width: 100%;
          label {
            font-size: 13px;
          }
        }
      }
    }
    .checkbox {
      display: flex;
      flex-direction: column;
      label {
        padding-left: 1rem;
        font-size: 13px;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      width: 100%;
      textarea {
        width: 100%;
        resize: vertical;
        height: 10rem;
        outline: none;
        padding-left: 0.6rem;
        color: rgb(231, 223, 223);
      }
    }
  }
  .phone-number-form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    font-family: Arial, sans-serif;

    input {
      padding: 10px;
      color: rgb(177, 175, 175);
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
    }
  }
  .drop-down {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    select {
      height: 2rem;
      color: rgb(177, 175, 175);
      outline: none;
      border-radius: 3px;
    }
  }
  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;

    button {
      height: 2rem;
      background-color: rgb(177, 175, 175);
      border: none;
      width: 7rem;
      border-radius: 5px;
    }
  }
  .captcha {
    font-size: 12px;
    color: grey;
  }
  .radio {
    margin-top: 1rem;
    label {
      span {
        color: #ccc;
        margin-left: 1rem;
      }
    }
  }
  .check2 {
    margin-top: 1rem;
    label {
      span {
        color: #ccc;
        margin-left: 1rem;
      }
    }
  }
}

.bulldogColors {
  display: flex;
  flex-direction: column;
  color: #ccc;
  align-items: center;
  justify-content: center;
  margin-top: 15.5rem;
  .cover {
    margin-top: 3rem;
    img {
      width: 50vw;
    }
  }
  .colorGrid {
    padding: 0 18vw;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 5rem;
    img {
      border-radius: 3px;
    }
    .left {
      img {
        width: 100%;
      }
      h1,
      h3,
      h4 {
        font-family: Metrophobic, Helvetica, Arial, sans-serif;
        line-height: 1.1em;
        margin: 1rem;
      }
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 13px;
        line-height: 1.5rem;
        margin-top: 1rem;
      }
    }
    .right {
      width: 20rem;
      img {
        height: 20rem;
      }
    }
  }
}

.header {
  background: transparent;

  .container {
    border-bottom: 1px solid rgba(231, 223, 223, 0.205);
    background: transparent;

    nav {
      height: 3rem;
      align-items: center;
      justify-content: center;
      display: flex;
      background: transparent;

      .main-nav {
        background: transparent;

        .nav-body {
          background: transparent;

          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          position: relative;
          span {
            background: transparent;
            color: rgba(231, 223, 223, 0.205);
          }
          .nav-list {
            height: 2rem;
            align-items: center;
            text-align: center;
            display: flex;
            background: transparent;

            a {
              font-size: 13px;
              color: rgba(231, 223, 223, 0.582);
              background: transparent;
              padding: 1rem 0;
            }

            a:hover {
              color: rgb(231, 223, 223);
            }
            .sub-menu1,
            .sub-menu2,
            .sub-menu3,
            .sub-menu4,
            .sub-menu5,
            .sub-menu6,
            .sub-menu7,
            .sub-menu8 {
              display: none;
              flex-direction: column;
              width: 12rem;
              position: absolute;
              margin-top: 2.5rem;
              line-height: 2.5rem;
              transform: scaleY(3px);
              color: rgba(231, 223, 223, 0.582);
              font-size: 13px;
              a {
                line-height: 1.2rem;
              }

              li:hover {
                background-color: #252525;
                color: rgb(231, 223, 223);
              }
            }

            .visible {
              display: flex;
            }
          }
          .nav-list:hover {
            border-bottom: 3px solid rgb(0, 110, 255);
            color: rgb(231, 223, 223);
          }
        }
      }
    }
  }
}
.availablePuppies {
  color: #ccc;
  margin-top: 15.5rem;
  text-align: center;
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }
  h1 {
    margin-top: 3rem;
    font-family: Metrophobic, Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.1em;
  }
  p {
    font-size: 13px;
    margin-top: 1rem;
    line-height: 1.1rem;
    margin-bottom: 1rem;
  }
  .container {
    padding: 0 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .availablePics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 4rem;
    img {
      height: 22rem;
      width: 22rem;
    }
  }
  .contact {
    text-align: start;
  }
  .available2 {
    height: 29rem;
  }
  .availableGrid {
    display: flex;
    padding: 0 18vw;
    gap: 5rem;
    margin-top: 1rem;
    .left {
      text-align: left;
      img {
        height: 20rem;
      }
      span {
        color: yellow;
        margin-left: 0.5rem;
      }
      h2,
      h4 {
        margin: 1rem 0;
      }
      h4 {
        text-align: center;
      }
    }
    .right {
      img {
        height: 25rem;
        margin: 1rem 0;
      }
    }
  }
}
.puppyList{
  color: #ccc;
  margin-top: 15.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .cover{
    img{
      max-width: 100vw;

    }
  }
  h1 {
    font-family: Metrophobic, Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 28px;
    line-height: 1.1em;
    margin: 1rem 3rem;
  }
  p {
    font-size: 13px;
    margin-top: 1rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
    margin: 1rem 3rem;
  }
  ul{
    line-height: 2rem;
  }
  .write-up2{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
      width: 60rem;
margin: 2rem;
    }
  }
  .cover2{
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6786A1;
    width: 100%;
    font-family: Metrophobic, Helvetica, Arial, sans-serif;
    h1{
      background-color: inherit;

    }
    form{
      background-color: inherit;
      display: flex;
      gap: .5rem;
      input{
        height: 3rem;
        border: 2px solid white;
        background-color: inherit;
        color: white;
        outline: none;
        padding-left: 1rem;
        
      }
      input::placeholder{
        color: white;
      }
      button{
        background-color: inherit;
        width: 12rem;
        border: 2px solid white;
        color: white;
      }
      button:hover{
        transition: all ease-in-out 0.3s;
        background-color: orange;
      }
    }
  }
}
@media (max-width: 600px) {
  * {
    transition: all ease-in-out 0.5s;
  }

  .navbar {
    display: none;
  }
  .form {
    padding: 0 0.1rem;
  }

  nav {
    position: fixed;
  }
  .mobileNav {
    display: contents;
    .nav-container {
      display: flex;
      width: 100vw;
      padding: 0.5rem 2rem;
      border-bottom: 1px solid rgba(231, 223, 223, 0.205);

      .logo {
        width: 100%;
        img {
          height: 4rem;
        }
      }
      .left {
        display: flex;
        background: transparent;
        z-index: 200;
        gap: 1rem;
        align-items: center;
        color: rgb(231, 223, 223);
        .icon {
          font-size: 2rem;
        }
        .bar:onclick {
          transform: rotateX("30deg");
        }
      }
    }
    .responsive_bar {
      transform: translateX(-27rem);
    }

    .nav-menu {
     
      position: fixed;
      /* z-index: 10; */
      overflow-y: scroll;
      width: 92vw;
      height: 100vh;
      right: -27rem;
      font-size: 13px;
      ul {
        margin-top: 9rem;
        line-height: 2.5rem;
        width: 100%;
        background-color: #252525;
        li {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid rgba(231, 223, 223, 0.205);
          /* padding: 0.5rem 2rem; */
          a {
            padding-left: 2rem;
            padding-right: 5rem;
            color: rgb(231, 223, 223);
            align-items: center;
            /* justify-content: space-between; */
          }
          span {
            font-size: 1rem;
            padding: 0 2rem;
            color: #ccc;
          }
          ul {
            width: 100%;
            margin-top: 0;
            li {
              border-top: 1px solid rgba(231, 223, 223, 0.205);
              color: rgb(231, 223, 223);
              padding: 0rem 2rem;
              padding-left: 4rem;
              justify-content: start;
              display: flex;
              gap: 1rem;
              span {
                padding: 0;
                /* margin-right: ; */
              }
              a{
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  .homePage {
    margin-top: 5.1rem;
    padding: 0;
    .container {
      padding: 0 2rem;

      img {
        width: 20.5rem;
        border-radius: 3px;
      }
      .write-up {
        padding: 0;
        width: 100%;

        .first-p {
          padding: 0;
        }
        .mid {
          display: inline-block;
          width: 100%;
        }
        .available {
          display: none;
        }
        p {
          font-size: 13px;
        }
      }
    }
    .cards {
      .homeCard {
        width: 20.5rem;
      }
    }
    .grids {
      width: 100%;

      .homeGrid1,
      .homeGrid2,
      .homeGrid3,
      .homeGrid4,
      .homeGrid5,
      .homeGrid6,
      .homeGrid7,
      .homeGrid8 {
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 0 2rem; */
        .left {
          margin: 0;
          padding: 0;
        }
        .right {
          margin: 0;
          padding: 0;
        }
        p {
          font-size: 13px;
        }
        h2,
        h1,
        ul,
        p {
          margin: 1rem 0;
        }
      }
    }
  }
  .contactPage {
    margin-top: 5.2rem;
    .container {
      padding: 0 2rem;
      img {
        height: 9rem;
        /* width: 100%; */
        margin-top: 2rem;
      }
      .write-up {
        display: none;
      }
    }
  }
  .bulldogColors {
    margin-top: 5.1rem;
    padding: 0;
    .cover {
      img {
        height: 9rem;
        width: 100%;
        border-radius: 3px;
      }
    }
    .colorGrid {
      flex-direction: column;
      width: 100%;
      padding: 0 2rem;
    }
  }
  .program {
    margin-top: 5.1rem;
    padding: 0;
    .cover {
      img {
        height: 9rem;
        width: 100%;
        border-radius: 3px;
      }
    }
    .container {
      .programGrid {
        flex-direction: column;
        /* width: 100%; */
        padding: 0 2rem;
        ul {
          margin: 0;
        }
        .right {
          img {
            height: 20.5rem;
            width: 100%;
          }
        }
      }

      .contact {
        padding: 0 2rem;
      }
      .programPics {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 0 2rem; */
        img {
          height: 20.5rem;
          width: 20.5rem;
        }
      }
    }
  }
  .finance {
    margin-top: 5.2rem;
    .finance-body {
      padding: 0 2rem;
      .semi {
        flex-direction: column;
        gap: 0;
      }
    }
    .financeGrid {
      flex-direction: column;
      padding: 0 2rem;
      .left {
        img {
          height: 20.5rem;
          width: 100%;
        }
        .cover2 {
          height: 10.5rem;
        }
        h1 {
          line-height: 2rem;
        }
      }
      .right {
        img {
          height: 18rem;
        }
      }
    }
  }
  .studServices {
    margin-top: 5.2rem;
    .write-up {
      padding: 0 2rem;
      .studGrid1,
      .studGrid2 {
        flex-direction: column;
        .left {
          margin: 0;
        }
        img {
          height: 20.5rem;
          margin-top: 1rem;
          width: 100%;
        }
      }
    }
  }
  .gear {
    margin-top: 5.2rem;
    padding: 0;
    .gearGrid {
      flex-direction: column;
      padding: 0 2rem;
      .left {
        h1 {
          line-height: 3rem;
        }
      }
      img {
        height: 20.5rem;
        width: 100%;
      }
    }
  }
  .availablePuppies {
    margin-top: 5.1rem;
    img {
      height: 9rem;
    }
    .container {
      padding: 0 2rem;
      .available2 {
        height: 10rem;
      }
      .availableGrid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        gap: 1rem;
        .left {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          img {
            height: 10rem;
            margin-bottom: 1rem;
          }
        }
        .right {
          img {
            height: 20rem;
          }
        }
      }
    }
  }
  .puppyList{
    margin-top: 5.1rem;
    .contact{padding: 0 2rem;}
    ul{
      padding: 0 3rem;
    }
    .write-up2{
      h2{
padding: 0 4rem;
        font-size: 0.9rem;
        text-align: center;
      }
      img{
        height: 15rem;
        width: auto;
      }
    }
    .cover2{
height: 25rem;
h1{
  font-weight: 400;
}
      form{
        flex-direction: column;
        width: 80%;
        button{
          height: 3rem;
          width: 100%;
          margin-top: 1rem;
        }
      }
    }
  }
}
